@import "./util_variable.scss";

.App-Blog {
  .App-MarkDownForm-container {
    padding: $m-spacing;
    border-radius: $s-radius;
    border: $border;
    width: 50%;
    position: absolute;
    background-color: $white;
  }
}